<h1 class="titleMain">Montréal</h1>
<div class="content"></div>
<!--
<table class="table table-hover container">
  <thead>
    <tr>
      <th>Title</th>
      <th>Desctiption</th>
      <th>Author</th>
      <th>Year</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arts.each do |art| %>
      <tr>
        <td><%= art.title %></td>
        <td><%= art.desctiption %></td>
        <td><%= art.author %></td>
        <td><%= art.year %></td>
        <td><img src="<%= art.photo %>" width="200px"/></td>
        <td><%= link_to 'Show', art %></td>
        <td><%= link_to 'Edit', edit_art_path(art) %></td>
        <td><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="btnNew"><button onclick="window.location.href='/arts/new'">Ajouter</button></div>
</br>
</br>

<table class="table table-hover container">
  <tbody>
    <div class="card-deck container d-flex justify-content-center">
    <% @arts.each do |art| %>
      <div class="card">
        <img src="<%= art.photo %>" class="card-img-top img-fluid" width="200px"/>
        <div class="card-body">
          <h4 class="card-title"><%= art.title %></h4>
          <p class="card-text"><%= art.desctiption %></p>
          <p class="card-text btn btn-primary float-right"><%= art.author %></p>
        </div>
      </div>
      <% end %>
    </div>
  </tbody>
</table>
-->

















